{% extends "base.html" %}

{% block content %}
    <form class="form-signin text-center" action="/viewAcc" method="POST">
      <img class="mb-4" src="/static/logoInvs.png" alt="" width="250" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Edit {{ adminInfo.username }}'s Account</h1>
      <label for="inputName" class="sr-only">Name</label>
      <input value="{{ adminInfo.username }}" type="text" id="inputName" class="form-control" placeholder="Name" required autofocus name="name" oninput="this.value = this.value.toUpperCase()" autocomplete="off">
      <label for="inputPassword" class="sr-only">Password</label>
      <input value="{{ adminInfo.passwords }}" name="pass" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Save Changes</button>
      <input name="action" type="hidden" value="E">
      <input name="id" type="hidden" value="{{ adminInfo.id }}">
    </form>
{% endblock %}
