{% extends "base.html" %}

{% block content %}
    <header class="text-white text-center py-5 link-header">
        <div class="container">
            <h1>About Me</h1>
            <p class="lead">Get to know more about me</p>
        </div>
    </header>

    <section class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2 class="mb-4">Biography</h2>
                    <p>Hi, I'm Nithik Sajja. I am passionate about web development, technology, and continuously learning new skills. I have experience in creating dynamic and responsive websites that provide a great user experience.</p>
                    <p>I am always eager to take on new challenges and contribute to exciting projects. My goal is to leverage my skills to make a positive impact and continually grow as a professional in the tech industry.</p>
                    
                    <h2 class="mb-4">Skills</h2>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-circle-fill me-2"></i>HTML, CSS, JavaScript</li>
                        <li><i class="bi bi-check-circle-fill me-2"></i>Python</li>
                        <li><i class="bi bi-check-circle-fill me-2"></i>Bootstrap</li>
                        <li><i class="bi bi-check-circle-fill me-2"></i>Flask, Jinja</li>
                        <li><i class="bi bi-check-circle-fill me-2"></i>Responsive Web Design</li>
                    </ul>
                    
                    <h2 class="mb-4">Hobbies and Interests</h2>
                    <p>Outside of work, I enjoy various activities that keep me engaged and inspired. Some of my hobbies and interests include:</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-heart-fill me-2"></i>Exploring new technologies</li>
                        <li><i class="bi bi-heart-fill me-2"></i>Playing video games</li>
                        <li><i class="bi bi-heart-fill me-2"></i>Watching Avatar The Last Airbebder</li>
                        <li><i class="bi bi-heart-fill me-2"></i>Traveling and experiencing new cultures</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}