{% extends "base.html" %}

{% block content %}
<section class="pt-3">
    <img src="/static/logo2.png" class="img-fluid d-block mx-auto" height="50%" width="50%">
    <!-- <img src="/static/peacockLogoInvs.png" class="img-fluid d-block mx-auto" height="50%" width="50%"> -->
</section>
<section class="pt-5">
    <div class="container marketing">
        <div class="row">
            <div class="col-lg-4">
                <i class="bi bi-link-45deg" style="font-size: 140px; width: 140px; height: 140px;"></i>
                <h2>Links</h2>
                <p>Social platforms <br> YouTube, GitHub, and More</p>
                <p><a class="btn btn-social" href="/links" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <i class="bi bi-laptop" style="font-size: 140px; width: 140px; height: 140px;"></i>
                <h2>Websites</h2>
                <p>Websites that I have created <br>that are open to view</p>
                <p><a class="btn btn-social" href="/websites" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <i class="bi bi-envelope" style="font-size: 140px; width: 140px; height: 140px;"></i>
                <h2>Contact Me</h2>
                <p>Contact me with <br>questions, inqueries, or feedback</p>
                <p><a class="btn btn-social" href="/contact" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}
